<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block additional_css %}{% endblock %}
</head>
<body>
<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">Podgląd na żywo</a></li>
<!--        <li><a href="{{ url_for('settings') }}">Ustawienia</a></li>-->
    </ul>
</nav>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    {% block footer %}
    <p>&copy; 2024 System monitoringu</p>
    {% endblock %}
</footer>

{% block scripts %}{% endblock %}
</body>
</html>