{% extends "base.html" %}

{% block page_title %}Logowanie {% endblock %}

{% block content %}
<div class="auth-container">
    <form method="POST" action="{{ url_for('auth.login') }}" class="auth-form">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-error">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <br>
        <div class="form-group">
            <label for="username">Nazwa użytkownika:</label>
            <br>
            <input type="text" id="username" name="username" required>
        </div>
        <br>
        <br>
        <div class="form-group">
            <label for="password">Hasło:</label>
            <br>
            <input type="password" id="password" name="password" required>
        </div>
        <br>
        <br>
        <br>
        <button class="button" type="submit">Zaloguj się</button>
        <br>
        <br>
        <br>
    </form>
    <p class="auth-links">
        Nie masz konta? <a href="{{ url_for('auth.register') }}">Zarejestruj się</a>
    </p>
</div>
{% endblock %}