{% extends "base.html" %}

{% block title %}Camera Settings{% endblock %}

{% block page_title %}Settings{% endblock %}

{% block content %}
<div class="control-panel">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h2>Camera</h2>
    <h3>Add New Camera</h3>
    <div class="camera-form-container">
        <div class="control-group">
            <form method="POST" action="{{ url_for('settings.settings_page') }}">
                <div class="form-group">
                    <label for="camera_name" class="label">Camera Name:</label>
                    <input type="text" class="form-control" id="camera_name" name="camera_name"
                           value="{{ settings.camera_name if settings else '' }}" required>
                    <br>
                    <label for="camera_url" class="label">Camera URL:</label>
                    <input type="text" class="form-control" id="camera_url" name="camera_url"
                           value="{{ settings.camera_url if settings else '' }}" required>
                </div>
                <button type="submit" class="add-schedule-button">Add Camera</button>
            </form>
        </div>
    </div>

    <div class="control-group">
        <h3>Camera List</h3>
        <div class="row">
            {% for camera in cameras %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ camera.name }}</h5>
                        <p class="card-text">URL: {{ camera.url }}</p>
                        <form method="POST" action="{{ url_for('settings.delete_camera', camera_id=camera.id) }}">
                            <button type="submit" class="remove-button"
                                    onclick="return confirm('Are you sure you want to delete this camera?')">
                                Delete Camera
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <br>
    <h2>Temperature</h2>
    <form method="POST" action="{{ url_for('settings.save_temperature') }}">
        <div class="temp-select-wrapper">
            <select name="temperature" class="temp-select">
                {% for temperature in range(15, 35) %}
                {% for temp_value in range(10) %}
                <option value="{{ temperature }}.{{ temp_value }}"
                        {% if saved_temperature and saved_temperature == temperature + (temp_value / 10) %}selected{% endif %}>
                    {{ temperature }}.{{ temp_value }}
                </option>

                {% endfor %}
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="save-button">Save Temperature</button>
    </form>
    <br>
    <br>
    <h2>Notifications</h2>
    <h4>Customize filter change reminder notifications</h4>
    <form method="POST" action="{{ url_for('settings.save_notifications') }}">
        <div class="temp-select-wrapper">
            <select name="notification_interval" id="date-select" class="temp-select">
                <option value="week" {% if saved_interval =='week' %}selected{% endif %}>Every week</option>
                <option value="2weeks" {% if saved_interval =='2weeks' %}selected{% endif %}>Every fortnight</option>
                <option value="month" {% if saved_interval =='month' %}selected{% endif %}>Every month</option>
                <option value="2months" {% if saved_interval =='2months' %}selected{% endif %}>Every two months</option>
                <option value="custom" {% if saved_interval =='custom' %}selected{% endif %}>Custom</option>
            </select>
        </div>
        <div id="custom-date" class="date-select">
            <div class="date-content">
                <h3>Customize date</h3>
                <span>Every</span>
                <select name="custom_days" class="temp-select">
                    {% for date in range(1, 366) %}
                    <option value="{{ date }}" {% if saved_custom_days == date %}selected{% endif %}>{{ date }}</option>
                    {% endfor %}
                </select>
                <span id="day-label">days</span>
            </div>
        </div>
        <button type="submit" class="save-button">Save Notifications</button>
    </form>

</div>
<script>
    document.getElementById('date-select').addEventListener('change', function () {
        const customDateDiv = document.getElementById('custom-date');
        if (this.value === 'custom') {
            customDateDiv.style.display = 'block';
        } else {
            customDateDiv.style.display = 'none';
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
        const select = document.getElementById('date-select');
        if (select.value === 'custom') {
            document.getElementById('custom-date').style.display = 'block';
        }
    });

</script>
    {% endblock %}
